DB_USER=user
DB_PASSWORD=pass
DB_NAME=abc
DB_HOST=localhost

# DB_HOST=db
DB_PORT=4432
DB_TYPE=mysql

NODE_ENV=development
APP_PORT=1000

JWT_SECRET_AUTH=youOnlyLiveOnce
REFRESH_TOKEN_SECRET=abc
JWT_SECRET_FORGET=forget_pass