DB_USER=user
DB_PASSWORD=pass
DB_NAME=abc
DB_HOST=localhost

# DB_HOST=db
DB_PORT=4432
DB_TYPE=mysql

NODE_ENV=development
APP_PORT=1000

ACCESS_TOKEN_SECRET=asdfadsf
ACCESS_TOKEN_KEY=asdfasdf
ACCESS_TOKEN_LIFE_DURATION=asdfasdf


REFRESH_TOKEN_SECRET=adsfadsf
REFRESH_TOKEN_COOKIE_KEY=asdfadsfadsf
REFRESH_TOKEN_LIFE_DURATION=asdfasdfasdf

JWT_SECRET_FORGET=asdfasdfasdf